body {
	background-image: url("../assets/images/arc-reactor2.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
}
.bg-container {
	letter-spacing: 1px;
	word-spacing: 3px;
	color: rgb(174, 174, 223);
	font-size: 18px;
	font-weight: 500;
}
@keyframes changeColour {
	from {
		color: #80120a;
		text-shadow: 2px 2px 5px white;
	}
	to {
		color: blue;
		text-shadow: 2px 2px 5px white;
		transform: translateX(100px);
	}
}
.page-heading {
	color: #80120a;
	font-size: 90px;
	font-family: "Lobster Two", cursive;
	text-shadow: 2px 2px 5p white;
	animation-name: changeColour;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

@keyframes slide {
	from {
		box-shadow: 4px 4px 20px #80120a;
	}
	to {
		transform: translateX(-100px);
		box-shadow: 4px 4px 20px rgb(6, 6, 228);
	}
}
.top-image {
	border-radius: 50%;
	box-shadow: 4px 4px 20px #80120a;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.small-view-heading {
	background-image: "";
	height: 300px;
	background-color: #80120a;
	padding: 40px 0px 0px 0;
	border-radius: 8px;
	margin-top: 20px;
	width: 93%;
}
.small-heading {
	margin-left: 30px;
	margin-top: 10px;
	color: white;
}
.heading-image {
	position: absolute;
	right: 0;
	top: 85px;
	z-index: 1;
	height: 200px;
	border: 1px solid blue;
	border-radius: 0px 8px 8px 0px;
}
.triangle {
	color: rgb(185, 12, 12);
}
.iron-man {
	color: #80120a;
	font-weight: bold;
}
.read-more:hover {
	cursor: pointer;
}
.read-more {
	color: blue;
	text-decoration: underline;
}
.life-time {
	font-size: 38px;
	color: #5fc9f3;
}
.no-bullets {
	list-style-type: none;
}
.box {
	border: 1px solid rgb(136, 135, 221);
	border-radius: 8px;
	padding: 0px 8px 8px 8px;
	font-size: 13px;
	text-align: center;
}
.title {
	margin: 0px 0px 8px 0px;
}
.roles-image {
	height: 100px;
	width: 100px;
	border-radius: 8px;
	border: 1px solid rgb(136, 135, 221);
}
.crousel-caption {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 4px;
	color: red;
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
		0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
}
.carousel-image {
	height: 400px;
	border-radius: 8px;
}
.awards {
	font-size: 20px;
}
.awards:hover {
	color: red;
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
		0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
}
.footer-container {
	background-color: #330906;
	width: 100%;
}
.footer-text {
	color: blue;
	letter-spacing: 2px;
}
